<footer>
    <p>Created by {{name}}</p>
</footer>


{{!--            {{>header}}           {{>footer}}      --}}


{{!-- So being able to use a partial makes it really easy to set something up once and use it everywhere. --}}

{{!-- And if I was to make any changes to the header, I would just change this one file and it would automatically --}}

{{!-- update on all pages where the partial is used, which is fantastic. --}}


