<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>


{{!-- Now, what goes inside of here, what goes inside of partials isn't a complete HTML document like we --}}

{{!-- have here, where we set up the dock type and then set up our HTML element instead. --}}

{{!-- It is just part of a web page. --}}

{{!-- So right here, as an example, we can go ahead and just create something like an H one element, H --}}

{{!-- one opening and closing the tag, and then we can put some text inside of here. --}}